.hero-title {
  font-weight: bolder;
  font-size: 56px;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin: 37px;
}

.hero-title-app-name {
  color: var(--accent-result);
  font-weight: 800;
  text-decoration: none;
}

.hero-button {
  background: #1E2A38;
  color: #cf9c9c;
  padding: 16px 40px;
  border-radius: 12px;
  font-weight: 800;
  font-size: 1.18rem;
  border: 0.5px var(--accent-result) solid;
  box-shadow: 0 4px 16px rgba(44, 62, 80, 0.13);
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s, transform 0.1s;
  margin: 15px 12px;
  letter-spacing: 0.5px;
  width: 285px;
  outline: none;
  position: relative;
  overflow: hidden;
}

.hero-button:hover, .hero-button:focus {
  background: #1d4462;
  box-shadow: 0 8px 24px rgba(44, 62, 80, 0.18);
  transform: translateY(-2px) scale(1.03);
}

.hero-button:active {
  background: #004a9b;
  box-shadow: 0 2px 8px rgba(44, 62, 80, 0.10);
  transform: scale(0.98);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px;
  font-weight: 380;
  font-size: 28px;
  line-height: 1;
  background-color: var(--background);
  color: var(--history-accent-2);
}

.features-h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  margin: 20px 0;
}

.hero-gif {
  margin: 20px 45px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.features-list, .usecases-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px 36px;
  list-style: none;
  padding: 0;
  margin: 0 auto 32px auto;
  justify-items: stretch;
  width: 100%;
  max-width: 700px;
}
.features-list li, .usecases-list li {
  font-size: 1.13em;
  color: #1a2a3a;
  background: #ddd5ce;
  border-radius: 14px;
  padding: 20px 28px;
  line-height: 1.2;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(44, 62, 80, 0.07);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  text-align: left;
  border: 1px solid #e0eafc;
  transition: box-shadow 0.2s, border 0.2s;
  position: relative;
}
.features-list li strong, .usecases-list li strong {
  color: #0076d1;
  font-weight: 700;
  font-size: 1.08em;
  
}
.features-list li:hover, .usecases-list li:hover {
  box-shadow: 0 6px 24px rgba(44, 62, 80, 0.13);
  border: 1.5px solid #6cace4;
  z-index: 1;
  transform: scale(1.2);
  transition: transform 0.2s, box-shadow 0.2s, border 0.2s;
}
.features-h2, .usecases-h2 {
  font-weight: 700;
  font-size: 2.1em;
  line-height: 1.4;
  margin: 32px 0 18px 0;
  color: var(--accent-result);
  text-align: center;
}

.usecases-section, .features-section {
  padding: 20px;
}

@media (max-width: 900px) {
  .features-list, .usecases-list {
    grid-template-columns: 1fr;
    gap: 18px 0;
    max-width: 98vw;
  }
}
